:root {
  /* カラー */
  --black: rgba(0,0,0,.87)
}
html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    height: 100%;
    margin: 0;
    background-color: #fff;
    color: rgba(0,0,0,.87);
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -.01em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "calt";
}

/* リセット */

a {
  color: var(--black);
  text-decoration:none;
}
li {
  list-style-type:none;
}
/* flex 親 */
.flex {
  display: flex !important;
}
.items-center {
  align-items: center !important;
}

/* flex 子 */

.flex-shrink-none { /* 要素を縮めたくない時*/
  flex-shrink: 0 !important;
}

.ml-auto { /* flexの子要素を右端に配置したい時 */
  margin-left: auto !important;
}

.flex-grow-all { /* flexの親要素いっぱいに子要素を広げる */
  flex-grow: 1 !important;
}
